<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Plan</title>
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>

  <body>
    <div class="container text-center mt-5">
      <div class="row align-items-center m-3 p-4 border rounded">
        <h1 class="mb-5">Reja va Maqsad</h1>
        <div>
          <form id="create-form" action="/create-item" method="post">
            <div class="input-group mb-3">
              <input
                id="create-field"
                type="text"
                name="reja"
                autocomplete="off"
                autofocus
                class="form-control"
                placeholder="Enter your Goal"
              />
              <button type="submit" class="btn btn-dark">Create</button>
            </div>
          </form>
          <button id="remove-all" class="btn btn-light m-5"> Remove  all</button>
        </div>
      </div>
      <div class="row align-items-center m-3 p-3 border rounded">
        <ul id="item_ul" class="list-group p-3">
          <% items.forEach((item) => { %>
          <li class="list-group-item list-group-item-indo d-flex align-items-center justify-content-between">
            <span class="item-text"><%= item.reja %></span>
            <div>
              <button data-id="<%= item._id %>" class="edit-me btn btn-dark btn-md">Edit</button>
              <button data-id="<%= item._id %>" class="delete-me btn btn-dark btn-md">Delete</button>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/browser.js"></script>
  </body>
</html>
